<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		
		<!-- 本机连接字符串 -->
		<add name="localStudent" connectionString="server=localhost;uid=sa;pwd=0825;database=Student;pooling=true" />
		<add name="localLogin" connectionString="server=localhost;uid=sa;pwd=0825;database=LoginDB;pooling=true" />
	</connectionStrings>
	
	<appSettings>
		<add key="webName" value="测试AppSetting"/>
	</appSettings>
</configuration>